* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
}

/* ---------------------------- Barra superior ---------------------------- */

header {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 1%;
    height: 5%;
    background-color: #483CBF
}

header>img {
    width: 13%;
    min-width: 120px;
}

/* ---------------------------- Menú Generos ---------------------------- */

.generos>ul {
display: flex;
justify-content: space-around;
text-align: center;
margin-left: 20%;
margin-right: 20%;
margin-top: 2%;
}

.menu-gen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.gen-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8em;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black,
		0 0 0.2em black;
}

.gen-txt:hover{
    font-size: 2em;
}

.menu-gen>img {
    width: 100%;
    min-width: 100px;
    transition: 1s;
}

.menu-gen>img:hover {
    filter: blur(1.5px);
    transition: 1s;
}

/* ---------------------------- Menú Texto ---------------------------- */

.menu {
    width: 100%;
}

.ul-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    gap: 5rem;
    background-color: #483CBF;
    color: #a4ff38;
}

h2 {
    font-weight: 400;
}

h2:hover{
    font-weight: 300;
    font-style: italic;
}

h1,h2:hover {
    cursor: pointer;
}

/* ---------------------------- Estilos Listas ---------------------------- */

tr:nth-child(odd) {
    background-color: #cfff96;
  }

  tr{
      font-size: 1rem;
  }

  table {
    border-collapse:collapse;
    width: 80%;
  }

  #title{
    font-size: 2.8rem;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 0.1em;
    margin: 2rem 0 2rem 0;
    text-align: center;
  }

  tr td img{
    border-radius: 1rem;
    margin: 0 2rem 0 2rem;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    text-align: center;
    position: relative;
}   

.canciones{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin: 0 auto;
}

.canciones>tr>td>img:hover {
    animation: spin 8s infinite linear;
}
     @keyframes spin {
         0% { transform: rotate(0)}
         50% {transform: rotate(360deg)}
         100% {transform: rotate(720deg)}
     }

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 900;
}