/* Colores:
   --color-primary:  #222
   --color-secondary: rgba(110, 69, 51, 1);
   --color-focus-menu: #B90000;
   --color-background: #fff;
   --color-list-odd: #f2f2f2;

*/

/* Imágenes:
logo: https://www.last.fm/static/images/logo_static_mob.0798d7258e3d.png
rock: https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg
hip-hop: https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg
indie:https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg
jazz:https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg
reggae: https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg
*/

/* Filtros:

rock:   sepia(90%);
hip-hop:contrast(200%);
indie:  grayscale(50%);
jazz:   hue-rotate(90deg);
reggae: saturate(10%);

*/

/* Fuente:
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;

*/

/* Utiliza  la propiedad counter-increment: step-counter; para pintar el número de la canción
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
}

/* Header */

header {
    display: flex;
    justify-content: left;
    padding: 1%;
    height: 5%;
    background-color: #483CBF
}

/* Menú Fotografías */

.generos>ul {
display: flex;
justify-content: space-around;
text-align: center;
margin-left: 20%;
margin-right: 20%;
margin-top: 2%;
}

.menu-gen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.gen-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8em;
}

/* Menú Texto */

.ul-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    margin-top: 2.5rem;
    gap: 5rem;
    background-color: #483CBF;
    margin-right: 20%;
    margin-left: 20%;
    color: #a4ff38;
}

/* Estilos Listas */

tr:nth-child(odd) {
    background-color: #cfff96;
  }

  tr{
      font-size: 16px;
  }


  h3{
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
  }
  .canciones{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
  }